/*style login*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
  }
  
  body {
    background: linear-gradient(135deg,  #A1D6B2, #A1D6B2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .login-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 8px;
    color: #333;
    color: #2e7d55;
    line-height: 0.5;
  }

  h4{
    text-align: center;
    margin-bottom: 5px;
    color: #333;
  }

  form label {
    display: block;
    margin-top: 10px;
    color: #333;
  }
  
  form input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color: #134c2a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .admin-button {
    display: inline-block;
    width: 100%;
    padding: 12px;
    background-color: #134c2a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.admin-button:hover {
    background-color: #0f3e22; /* opsional, efek hover */
}
  
  button:hover {
    background-color:  #00712D;
  }
  
  @media (max-width: 480px) {
    .login-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    button {
      font-size: 14px;
    }
  }

  /*style admin*/
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Segoe UI", sans-serif;
  }
  
  body {
    background: linear-gradient(135deg, #A1D6B2, #A1D6B2);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /* Khusus untuk halaman beranda, override background */
  body.beranda {
    background-color: rgb(247, 243, 243);
  }
  
  
  .login-container {
    background-color: white;
    padding: 30px;
    border-radius: 15px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  }
  
  h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
  }
  
  div label {
    display: block;
    margin-top: 10px;
    color: #333;
  }
  
  div input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  
  button {
    width: 100%;
    padding: 12px;
    background-color:  #134c2a;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    margin-top: 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #00712D;
  }
  
  @media (max-width: 480px) {
    .login-container {
      padding: 20px;
    }
  
    h2 {
      font-size: 20px;
    }
  
    button {
      font-size: 14px;
    }
  }

